  /********PORTAFOLIO**************/
h4{
  font-size: 13px;
  text-align: center;
  margin: 60px 20px;
  color:#E77991;
}
h4 p{
  color: white;
  background: #E77991;
}
.Portfolio{
  grid-area: Portfolio;
  background: var(--background-blue);
  padding-top: 10px;
  border-top: var(--border-pink);
  animation: var(--animation-stars);
}
.h2-portfolio{
  border: var(--border-bottom);
}
.Projects{
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  grid-gap: 20px;
  justify-content: center;
  grid-auto-flow: dense;
  margin-top: 50px;
  margin-bottom:50px;
}
.Project{
  padding: 10px;
  background: rgb(255, 255, 255, .3);
  grid-auto-rows: auto;
}
.Project figure{
  margin:0;
  padding: 0;
  transition: .4s;
  transition-delay: .2s;
  transition-timing-function: ease-in-out;
}
.Project figure:hover{
  transform:scale(1.2);
}
.Project img{
  max-width: 100%;
  object-fit: contain;
}
.Project p{
  background: linear-gradient(205deg, #e2718d 0%,  #f9989f 50%);
  border: 3px solid #0b032d;
  padding: 8px;
  color: #113f67;
  font-weight: bold;
  clip-path: polygon(6px 0%, calc(100% - 6px) 0%, 100% 6px, 100% calc(100% - 6px), calc(100% - 6px) 100%, 6px 100%, 0% calc(100% - 6px), 0% 6px);
}
.Project a{
  background:#e9b921;
  text-align: end;
  color: white;
  width: 100px;
  margin-left: 15px;
  border-radius: 40% 0 / 20% 0;
  padding: 2px 4px;
}
.Project a:hover{
  background: white;
  color: #0b032d;
}
.Moon{
  position: relative;
  top:30px;
  left:110px;
  right: calc(50% - 100px);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #fffffce8;
  box-shadow: 0px 0px 100px #FFFF8C;
  z-index: 5;
  -webkit-animation: moonAnimation 3s infinite;
  animation: moonAnimation 2s infinite;
}
.Moon-fase{
  position: absolute;
  top:0;
  right: calc(50% - 100px);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: rgba(153,153,153,0);
  box-shadow: inset -25px 0px 0 0px #999;
  z-index: 6;
  -webkit-animation: moonFaseAnimation 20s infinite;
  -moz-animation: moonFaseAnimation 20s infinite;
  animation: moonFaseAnimation 20s infinite;
}
.HomeFooter{
  margin-left: 50px;
}
/* Animaciones */
@keyframes moonAnimation
{
  0% {
    box-shadow: 0px 0px 100px #FFF;
  }
  50% {
    box-shadow: 0px 0px 140px #FFF;
  }
  100% {
    box-shadow: 0px 0px 100px #FFF
  }
}
@keyframes moonFaseAnimation {
  0% {
    box-shadow: inset -25px 0px 0 0px #bcc2c9;
    background: rgba(153,153,153,0);
  }
  50% {
      box-shadow: inset -200px 0px 0 0px #bcc2c9;
      /* background: rgba(153,153,153,0); */
  }
  58% {
      background: rgba(153,153,153,1);
  }
  /* 52% {
      box-shadow: inset 200px 0px 0 0px #bcc2c9;
  }
  /* 53% {
      background: rgba(153,153,153,0);
  }
  100% {
      box-shadow: inset -25px 0px 0 0px #999;
  } */
}

@media screen and (max-width: 768px){
  .Projects{
    margin-top:20px;
  }
}