.About{
  grid-area: About;
  background: url(../../../images/fleck-white.png), linear-gradient(45deg, #f9989f 0%,  #e2718d );
  margin-top: 50px;
  /* background: linear-gradient(135deg, #e2718d 0%, #e2718d 8%, #e9b921 50%, #e2718d 100%); */

  border-top: 10px dotted #0C0832;
  animation: aitf 18s linear infinite;
  transform: translate3d(0,0,0);
}
.About-home{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
h2{
  font-size: 40px;
  /* border-radius: 0 40% / 0 100%; */
  /* background: linear-gradient(45deg, #0b032d 51%,  #113f67 100%); */
  /* clip-path: polygon(26px 0%, calc(100% - 26px) 0%, 100% 6px, 100% calc(100% - 6px), calc(100% - 6px) 100%, 6px 100%, 0% calc(100% - 6px), 0% 6px); */
  /* background: linear-gradient(135deg, #e2718d 0%, #e2718d 8%, #e9b921 50%, #e2718d 100%); */
  -webkit-clip-path: polygon(6px 0%, calc(100% - 6px) 0%, 100% 6px, 100% calc(100% - 6px), calc(100% - 6px) 100%, 6px 100%, 0% calc(100% - 6px), 0% 6px);
  clip-path: polygon(6px 0%, calc(100% - 6px) 0%, 100% 6px, 100% calc(100% - 6px), calc(100% - 6px) 100%, 6px 100%, 0% calc(100% - 6px), 0% 6px);
  /* border: 8px solid #71E2A6; */
  color:#0b032d;
  padding: 3px 5px;
  border: 3px solid #0b032d;
  background: white;
}
h2  span{
  color: #E8B723;
}
.Skill{
  background:  #0b032d ;
  box-shadow: 2px 5px 5px 2px rgba(0,0,0,0.2);
  padding: 10px 22px;
}
.Skill-r{
  background:  #E8B723 ;
  box-shadow: 2px 5px 5px 2px rgba(0,0,0,0.2);
  padding: 10px 22px;
}
.Skills{
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-gap: 20px;
  justify-content: center;
  grid-auto-flow: dense;
  margin-top: 50px;
}
.Skill-r img, .Skill img{
  margin-left: 80px;
}
.Skill h3{
  color:white;
  border-bottom: 3px solid #e2718d;
}
.Skill-r h3{
  border-bottom: 3px solid white;
}
.Skill p{
  color:white;

}

@media screen and (max-width: 768px)
{
  h2{
    font-size: 30px;
  }
  .Skills{
    margin-top: 0;
  }
}